/* Agrega estos estilos en tu archivo CSS o en línea según tu preferencia */
.navbar-custom {
    background-color: #3498db; /* Cambia esto al color que desees */
    /* Otros estilos personalizados según tus preferencias */
  }
  
  .navbar-brand {
    color: #051923; /* Color del texto de la marca */
  }
  
  .nav-link {
    color: #003554 !important; /* Color del texto de los enlaces */
  }
  
  .nav-link:hover {
    color: #0582CA !important; /* Color del texto de los enlaces al pasar el ratón */
  }
  
  /* Estilos para el espacio equitativo */
  .navbar-nav {
    width: 100%;
    justify-content: center;
    
  }
  
  .navbar-nav li{
    margin: 0 25px;
  }
  /* Agrega más estilos según tus preferencias */
  
  .cart-widget {
    position: relative; /* Para posicionar el badge relativo a este contenedor */
  }
  
  .cart-icon {
    width: 30px; /* Ajusta el ancho según el tamaño deseado de la imagen */
    height: auto; /* Para mantener la proporción de la imagen */
  }
  
  .badge {
    position: absolute;
    top: -5px; /* Ajusta la posición verticalmente según tus necesidades */
    right: -5px; /* Ajusta la posición horizontalmente según tus necesidades */
    font-size: 12px;
  }
  